{
    "tabWidth": 2,
    "useTabs": false,
    "overrides": [
      {
        "files": [
          "**/*.{yml,yaml}"
        ],
        "options": {
          "singleQuote": true
        }
      }
    ]
  }